<h1><%= @article.title %></h1>
(<%= @article.status %> article)<br/>

<%= link_to 'Back to index', articles_path %>
<p style="white-space: pre-wrap"><%= @article.body %></p>

<%= link_to 'Edit', edit_article_path(@article) %>
|
<%= link_to 'Delete article', article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: 'Sure? There will be no turning back.',
} %>

<% if @article.comments.any? %>
<h3>Comments</h4>
<%= render @article.comments %>
<% end %>

<h4>Add a comment</h4>
<%= render 'comments/form' %>
