<% unless comment.archived? %>
  <p><%= comment.body %></p>
  <p>
    <%= @i %>
    - #<%= comment.id %>
    <strong><%= comment.commenter %></strong>
    posted <%= comment.status_adjective %>
    <%= time_tag comment.created_at, 'data-local': 'time-ago' %>
  </p>
  <hr/>
<% end %>
