<%= form_with model: [@article, @article.comments.build] do |form| %>
  <p>
    <%= form.label :status %>
    <%= form.select :status, Comment.const_get('VALID_STATUSES'), selected: 'public' %>
  </p>

  <p>
    <%= form.text_field :commenter, placeholder: 'Your name' %>
  </p>

  <p>
    <%= form.text_area :body, placeholder: 'Your comment' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
