<h2>The Greed Session #<%= @greed_session.id %></h2>
<%= link_to 'Index', greed_sessions_path %>
<hr/>

<% if @greed_session.winner %>
  Won by player <%= @greed_session.winner %>!
<% end %>

<h3>(<%= @greed_session.players %> players)</h3>
<%= render 'scoreboard' %>
<h4><%= if @greed_session.showdown? then 'SHOWDOWN!' else 'Business as usual' end %></h4>
<h4>Turn of player #<%= @greed_session.turn %> (score: <%= @greed_session.player_score %>, <%= if @greed_session.player_in_game? then 'in game' else 'not in game' end %>)</h4>

<% if @greed_session.legs.any? %>
<% @leg = @greed_session.current_leg %>
<% end %>

<%= render 'controls' %>
<% if @leg %>
<hr/>
<h3>Current leg:</h3>
<%= render @leg %>
<% end %>
<hr/>

<details>
  <summary>Legs history</summary>
  <%= render @greed_session.legs %>
</details>
