<h2>The Greed Session #<%= @greed_session.id %></h2>
<%= link_to 'Index', greed_sessions_path %>
<hr/>

<h3>(<%= @greed_session.players %> players)</h3>
<h4>Turn of player #<%= @greed_session.turn %></h4>

<% if @greed_session.legs.any? %>
<% @leg = @greed_session.current_leg %>
<% end %>

<%= render 'greed_rolls/controls' %>
<% if @leg %>
<hr/>
Last leg:
<%= render @leg %>
<% end %>
<hr/>

<details>
  <summary>Legs history</summary>
  <%= render @greed_session.legs %>
</details>
